{% extends './components/base.html' %}
{% load static %}

{# Configuring the style path #}
{% block style %}
    <link rel="stylesheet" href="{% static 'bastama/css/qosymsha.css' %}">
{% endblock style %}

{# Block Content starting here #}
{% block content %}
<div class="sidebar" id="sidebar">
    <ul class="sidebar__menu">
        <li class="menu__item">
            <a href="#jeide" class="menu__link">Sömke</a>
        </li>

        <li class="menu__item">
            <a href="#kepka" class="menu__link">Kepka</a>
        </li>

        <li class="menu__item">
            <a href="#panama" class="menu__link">Panama</a>
        </li>

         <li class="menu__item">
            <a href="#qalpaq" class="menu__link">Qalpaq</a>
        </li>

        <li class="menu__item">
            <a href="#kese" class="menu__link">Kese</a>
        </li>

        <li class="menu__item">
            <a href="#botelke" class="menu__link">Bötelke</a>
        </li>

        <li class="menu__item">
            <a href="#betperde" class="menu__link">Betperde</a>
        </li>

        <li class="menu__item">
            <a href="./jeans.html" class="menu__link"><span style="color: yellow;">Jeans</span> </a>
        </li>

        <li class="menu__item">
            <a href="./jeidee.html" class="menu__link"><span style="color: yellow;">Jeide</span> </a>
        </li>

        <li class="menu__item">
            <a href="./gift.html" class="menu__link"><span style="color: yellow;">Gift</span> </a>
        </li>
    </ul>
</div>
<!-- --------------------------------------------------------------------------------------- -->
<main>
    <div class="content">
        <div class="nameblock1" id="jeide">gfvgrd</div>
        <div class="nameblock" id="jeide">#Sömke</div>
        <div class="content_blocks">
            <div class="cardblock">
                <div class="imageblock1" ></div>
                <div class="nameelement">QYZYL Sömke</div>
                <div class="coastel">7000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock2"></div>
                <div class="nameelement">Sömke</div>
                <div class="coastel">7000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock3"></div>
                <div class="nameelement">Sömke</div>
                <div class="coastel">7000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock4"></div>
                <div class="nameelement">Sömke</div>
                <div class="coastel">7000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock" >
                <div class="imageblock5"></div>
                <div class="nameelement">Sömke</div>
                <div class="coastel">7000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock6"></div>
                <div class="nameelement">Sömke</div>
                <div class="coastel">7000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock7"></div>
                <div class="nameelement">Sömke</div>
                <div class="coastel">7000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock" >
                <div class="imageblock8"></div>
                <div class="nameelement" id="burj">Sömke</div>
                <div class="coastel" >7000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
        </div>

        <div class="nameblock" id="kepka">#Kepka</div>
        <div class="content_blocks">
            <div class="cardblock">
                <div class="imageblock9"></div>
                <div class="nameelement">Kepka</div>
                <div class="coastel">7000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock10"></div>
                <div class="nameelement">Kepka</div>
                <div class="coastel">7000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock11"></div>
                <div class="nameelement">Kepka</div>
                <div class="coastel">7000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
                <div class="cardblock">
                <div class="imageblock12"></div>
                <div class="nameelement">Kepka</div>
                <div class="coastel">7000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>

        </div>

        <div class="nameblock" id="panama">#Panama</div>
        <div class="content_blocks">
            <div class="cardblock">
                <div class="imageblock13"></div>
                <div class="nameelement">Panama</div>
                <div class="coastel">6000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock14"></div>
                <div class="nameelement">Panama</div>
                <div class="coastel">6000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock15"></div>
                <div class="nameelement">Panama</div>
                <div class="coastel">6000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>

        </div>

            <div class="nameblock" id="qalpaq">#Qalpaq</div>
        <div class="content_blocks">
            <div class="cardblock">
                <div class="imageblock16"></div>
                <div class="nameelement">Qalpaq</div>
                <div class="coastel">6000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock17"></div>
                <div class="nameelement">Qalpaq</div>
                <div class="coastel">6000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock18"></div>
                <div class="nameelement">Qalpaq</div>
                <div class="coastel">6000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>

        </div>

        <div class="nameblock" id="kese" >#Kese</div>
        <div class="content_blocks">
            <div class="cardblock">
                <div class="imageblock19"></div>
                <div class="nameelement">Kese</div>
                <div class="coastel">5000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock20"></div>
                <div class="nameelement">Kese</div>
                <div class="coastel">5000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock21"></div>
                <div class="nameelement">Kese</div>
                <div class="coastel">5000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock22"></div>
                <div class="nameelement">Kese</div>
                <div class="coastel">5000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock23"></div>
                <div class="nameelement">Kese</div>
                <div class="coastel">5000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock24"></div>
                <div class="nameelement">Kese</div>
                <div class="coastel">5000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock25"></div>
                <div class="nameelement">Kese</div>
                <div class="coastel">5000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock26"></div>
                <div class="nameelement">Kese</div>
                <div class="coastel">5000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
        </div>




        <div class="nameblock" id="botelke">#Bötelke</div>
        <div class="content_blocks">
            <div class="cardblock">
                <div class="imageblock27"></div>
                <div class="nameelement">Bötelke</div>
                <div class="coastel">6000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock28"></div>
                <div class="nameelement">Bötelke</div>
                <div class="coastel">6000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>
            <div class="cardblock">
                <div class="imageblock29"></div>
                <div class="nameelement">Bötelke</div>
                <div class="coastel">6000KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>

        </div>

        <div class="nameblock" id="betperde">#Betperde</div>
        <div class="content_blocks">
            <div class="cardblock">
                <div class="imageblock30"></div>
                <div class="nameelement">Betperde</div>
                <div class="coastel">1500KZT</div>
                <a class="button" href="basket.html">Shop Now</a>
            </div>

        </div>
    </div>

</main>

<!-- ------------------------------------------------------------------------------------ -->
{% endblock content %}